@font-face {
  font-family: "MoebiusKorea-Regular";
  src: url("../fonts/Moebius/MoebiusKorea-Regular.svg#MoebiusKorea-Regular") format("svg"), url("../fonts/Moebius/MoebiusKorea-Regular.ttf") format("truetype"),
    url("../fonts/Moebius/MoebiusKorea-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Moebius_Regular";
  src: url("../fonts/Moebius/MoebiusKorea-Regular.eot");
  src: url("../fonts/Moebius/MoebiusKorea-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Moebius/MoebiusKorea-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "MoebiusKorea-Bold";
  src: url("../fonts/Moebius/MoebiusKorea-Bold.svg#MoebiusKorea-Bold") format("svg"), url("../fonts/Moebius/MoebiusKorea-Bold.ttf") format("truetype"),
    url("../fonts/Moebius/MoebiusKorea-Bold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Moebius_Bold";
  src: url("../fonts/Moebius/MoebiusKorea-Bold.eot");
  src: url("../fonts/Moebius/MoebiusKorea-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Moebius/MoebiusKorea-Bold.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
