@font-face {
  font-family: "MoebiusKorea-Regular";
  src: url("../fonts/Moebius/MoebiusKorea-Regular.svg#MoebiusKorea-Regular") format("svg"), url("../fonts/Moebius/MoebiusKorea-Regular.ttf") format("truetype"),
    url("../fonts/Moebius/MoebiusKorea-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Moebius_Regular";
  src: url("../fonts/Moebius/MoebiusKorea-Regular.eot");
  src: url("../fonts/Moebius/MoebiusKorea-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Moebius/MoebiusKorea-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "MoebiusKorea-Bold";
  src: url("../fonts/Moebius/MoebiusKorea-Bold.svg#MoebiusKorea-Bold") format("svg"), url("../fonts/Moebius/MoebiusKorea-Bold.ttf") format("truetype"),
    url("../fonts/Moebius/MoebiusKorea-Bold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Moebius_Bold";
  src: url("../fonts/Moebius/MoebiusKorea-Bold.eot");
  src: url("../fonts/Moebius/MoebiusKorea-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Moebius/MoebiusKorea-Bold.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

/* noto-sans-kr-100 - latin_korean */
@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 100;
  src: url('../fonts/Notosans/noto-sans-kr-v9-latin_korean-100.eot'); /* IE9 Compat Modes */
  src: local('Noto Sans KR Thin'), local('NotoSansKR-Thin'),
  url('../fonts/Notosans/noto-sans-kr-v9-latin_korean-100.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/Notosans/noto-sans-kr-v9-latin_korean-100.woff2') format('woff2'), /* Super Modern Browsers */
  url('../fonts/Notosans/noto-sans-kr-v9-latin_korean-100.woff') format('woff'), /* Modern Browsers */
  url('../fonts/Notosans/noto-sans-kr-v9-latin_korean-100.svg#NotoSansKR') format('svg'); /* Legacy iOS */
}
/* noto-sans-kr-300 - latin_korean */
@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/Notosans/noto-sans-kr-v9-latin_korean-300.eot'); /* IE9 Compat Modes */
  src: local('Noto Sans KR Light'), local('NotoSansKR-Light'),
  url('../fonts/Notosans/noto-sans-kr-v9-latin_korean-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/Notosans/noto-sans-kr-v9-latin_korean-300.woff2') format('woff2'), /* Super Modern Browsers */
  url('../fonts/Notosans/noto-sans-kr-v9-latin_korean-300.woff') format('woff'), /* Modern Browsers */
  url('../fonts/Notosans/noto-sans-kr-v9-latin_korean-300.svg#NotoSansKR') format('svg'); /* Legacy iOS */
}
/* noto-sans-kr-regular - latin_korean */
@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/Notosans/noto-sans-kr-v9-latin_korean-regular.eot'); /* IE9 Compat Modes */
  src: local('Noto Sans KR Regular'), local('NotoSansKR-Regular'),
  url('../fonts/Notosans/noto-sans-kr-v9-latin_korean-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/Notosans/noto-sans-kr-v9-latin_korean-regular.woff2') format('woff2'), /* Super Modern Browsers */
  url('../fonts/Notosans/noto-sans-kr-v9-latin_korean-regular.woff') format('woff'), /* Modern Browsers */
  url('../fonts/Notosans/noto-sans-kr-v9-latin_korean-regular.svg#NotoSansKR') format('svg'); /* Legacy iOS */
}
/* noto-sans-kr-500 - latin_korean */
@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/Notosans/noto-sans-kr-v9-latin_korean-500.eot'); /* IE9 Compat Modes */
  src: local('Noto Sans KR Medium'), local('NotoSansKR-Medium'),
  url('../fonts/Notosans/noto-sans-kr-v9-latin_korean-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/Notosans/noto-sans-kr-v9-latin_korean-500.woff2') format('woff2'), /* Super Modern Browsers */
  url('../fonts/Notosans/noto-sans-kr-v9-latin_korean-500.woff') format('woff'), /* Modern Browsers */
  url('../fonts/Notosans/noto-sans-kr-v9-latin_korean-500.svg#NotoSansKR') format('svg'); /* Legacy iOS */
}
/* noto-sans-kr-700 - latin_korean */
@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/Notosans/noto-sans-kr-v9-latin_korean-700.eot'); /* IE9 Compat Modes */
  src: local('Noto Sans KR Bold'), local('NotoSansKR-Bold'),
  url('../fonts/Notosans/noto-sans-kr-v9-latin_korean-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/Notosans/noto-sans-kr-v9-latin_korean-700.woff2') format('woff2'), /* Super Modern Browsers */
  url('../fonts/Notosans/noto-sans-kr-v9-latin_korean-700.woff') format('woff'), /* Modern Browsers */
  url('../fonts/Notosans/noto-sans-kr-v9-latin_korean-700.svg#NotoSansKR') format('svg'); /* Legacy iOS */
}
/* noto-sans-kr-900 - latin_korean */
@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 900;
  src: url('../fonts/Notosans/noto-sans-kr-v9-latin_korean-900.eot'); /* IE9 Compat Modes */
  src: local('Noto Sans KR Black'), local('NotoSansKR-Black'),
  url('../fonts/Notosans/noto-sans-kr-v9-latin_korean-900.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/Notosans/noto-sans-kr-v9-latin_korean-900.woff2') format('woff2'), /* Super Modern Browsers */
  url('../fonts/Notosans/noto-sans-kr-v9-latin_korean-900.woff') format('woff'), /* Modern Browsers */
  url('../fonts/Notosans/noto-sans-kr-v9-latin_korean-900.svg#NotoSansKR') format('svg'); /* Legacy iOS */
}