@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
@import url("https://fonts.googleapis.com/css?family=Noto+Sans+KR:100,300,400,500,700,900&subset=korean");

@import url("./common.css?201013_v2");
@import url("./fonts.css");
@import url("./main.css?240822");
@import url("./dh.css?241104");
/* ysj 추가 */
@import url("./content.css");

/* 기존 사이트 푸터 누락분 스타일 가져옴 */
#footer {
    overflow: visible;
    min-width: 1280px;
    text-align: left;
    position: relative;
    background: #262626;
    z-index: 10;
}

#footer .inner {
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
    box-sizing: border-box;
}
#footer > .inner {
    padding: 14px 0 50px 0px;
    position: relative;
}

#footer .flot_logo {
    float: left;
}

#footer .flot_logo a {
    display: block;
    margin-right: 6px;
}

#footer .fot_menu {
    float: left;
    margin-bottom: 20px;
    padding-top: 10px;
    background-color: transparent;
}

#footer .fot_menu a {
    padding-left: 16px;
    font-size: 15px;
    color: #aaa;
    line-height: 16px;
}

#footer .fot_menu a:last-child {
    line-height: 16px;
}

#footer .fot_menu a.mobile_view {
    display: none;
}

#footer .footer_link .sns {
    display: block;
}

#footer .sns {
    position: absolute;
    right: 0;
    top: 19px;
}

#footer .sns a {
    display: inline-block;
    margin-right: 23px;
    padding-top: 4px;
}

#footer .sns a.in {
    opacity: 0.8;
}

#footer .sns a:last-child {
    margin-right: 0;
}

#footer .f_box {
    clear: both;
    padding-top: 22px;
    position: relative;
    border-top: 1px solid #333;
    text-align: left;
}

#footer address {
    padding: 0;
    color: #aaa;
    font-size: 15px;
}

#footer address span {
    display: block;
    margin-bottom: 10px;
    color: #aaa;
    font-size: 15px;
}

#footer address span:last-child {
    display: inline-block;
    margin-left: 16px;
}

#footer .fot_fam {
    width: 248px;
    border: 1px solid #444;
    background-color: #262626;
    display: block;
    position: absolute;
    top: 38px;
    right: 0;
}

#footer .fot_fam a,
#footer .fot_fam button {
    width: 100%;
    padding: 10px;
    color: #656565;
    display: block;
    font-size: 15px;
    box-sizing: border-box;
    text-align: left;
}

#footer .fot_fam button {
    padding-right: 40px;
    position: relative;
}

#footer .fot_fam button:after {
    content: '';
    display: block;
    width: 30px;
    height: 80%;
    position: absolute;
    top: 2px;
    right: 2px;
    /* border-left: 1px solid #ccc; */
    background: url('../images/new/btn_select.png') 50% no-repeat;
}

#footer .fot_fam .fam_list {
    display: none;
}

#footer .fot_fam.active .fam_list {
    display: block;
    position: absolute;
    bottom: 39px;
    left: -1px;
    width: 100%;
    background: #262626;
    border: 1px solid #444;
    border-bottom: none;
    z-index: 11;
}

#footer .fot_fam.active {
    border-top: none;
}

#footer .fot_fam.active button:after {
    background-image: url('../images/new/btn_select_on.png');
}

#footer p.copy {
    line-height: 25px;
    color: #666;
    font-size: 14px;
    background: none;
    text-align: left;
}